@charset "utf-8";

body{
margin: 0;
padding: 0;
color: #ffffff;
background-color: #001;
}
a{color: #00f;}
a:visited{color: #666666;}

a:hover{
color: #f00;
font-weight: bold;
text-decoration: none;
}
a img {transition: opacity 0.2s linear;}
a:hover img{opacity: 0.7;}
h1, h2, h3, h4, h5, h6 { margin-top: 0;}
p {
margin-top: 0;
line-height: 1.6;
}
img { vertical-align: bottom;}
#main h2 {
background-image: url(../background03.webp);
padding: 30px 30px 30px 20px;
font-size: 26px;
border-bottom: solid 1px #8b7348;
}
#main h3 {
font-size: 18px;
border-left: solid 3px #660000;
padding: 4px 9px 4px 14px;
}
header {
max-width: 980px;
width: 100%;
margin: 0 auto;
}
header h1 {
float: left;
margin: 5px 0 10px;
}
header #header_contact {
float: right;
margin: 35px 0 0;
}
#global_navi {
width: 980px;
clear:both;
overflow: hidden;
margin: 16px auto;
}
#global_navi ul {
list-style: none;
margin: 0;
padding: 0;
}
#global_navi ul li {
width: 195px;
float: left;
margin-right: 1px;
text-align: center;
}
#global_navi ul li a{
    display: block;
    padding: 16px;
    background-color:  #ffffff;
    color: #001;
    text-decoration: none;
    transition: background-color 0.4s linear;
}
#global_navi ul li.current a{
    background-color: #336699;
}
#global_navi ul li a:hover{
    background-color: #e9ffa5;
}
#wrapper {
width: 980px;
margin: 0 auto;
overflow: hidden;
}
#main {
width: 730px;
float: left;
}
#sidebar {
width: 220px;
float: right;
}
#side_banner { margin-bottom: 30px; }
#side_banner h2 {
    background-color: #fff;
    color: #001;
    padding: 7px;
    font-size: 17px;
    text-align: center;
    border-radius: 5px;
}
#side_banner ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#side_banner image{
  width: 100%;
  height: auto;
  border-radius: 10px;
}
#side_banner ul li { margin-bottom: 10px;}
#side_contact { margin-bottom: 30px;}
#side_contact {
border: 10px solid #fff;
color: #fff;
text-align: center;
border-radius: 5px;
}
#side_contact h2 {
background-color: #fff;
color: #001;
padding: 7px;
font-size: 14px;
}
#side_contact address {
    font-weight: bold;
    font-size: 20px;
    font-style: normal;
}
#side_contact address img {
    vertical-align: middle;
    margin-right: 5px;
}
footer {
    background-color: #352b23;
    text-align: center;
}
footer #footer_nav {
    background-color: #efefef;
    padding: 10px 0;
}
footer #footer_nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
footer #footer_nav li {
    display: inline;
    border-left: solid 1px #aaa;
    margin-left: 8px;
    padding-left: 8px;
    font-size: smaller;
}
footer #footer_nav li :last-child {
    border-right: solid 1px #aaa;
    padding: 0 8px;
}
footer small {
    display: block;
    padding: 8px 0;
    color: #fff;
}
#breadcrumb {font-size: smaller; }
#breadcrumb ol {
    list-style: none;
    margin: 0;
    padding: 10px;
}
#breadcrumb ol li{display: inline;}
#breadcrumb ol li::after {
    content: ">";
    padding-left: 7px;
}
#breadcrumb ol li:last-child::after { content: none;}
#main_visual{
    width: 980px;
    height: 440px;
    margin: 0 auto 48px;
}
#point { margin-bottom: 30px;}
#point section {
    margin-bottom: 10px;
    overflow: hidden;
}
#point figure {
    float: right;
    margin: 0 0 0 16px;
}
#point figcaption {
    font-size: 12px;
    color: #9C9689;
    text-align: center;
}
#gallery ul {
    list-style: none; 
    margin: 0; 
    padding: 0; 
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px;
}
#gallery ul li {
    width: 200px; 
    margin: 0 30px 30px 0; 
    padding: 10px 0; 
    border: solid 1px #ccc; 
    text-align: center; 
    color: #fff; 
    font-weight: bold; 
    box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
}
#gallery ul li:nth-child(3n) {
    margin-right: 0;
}
#gallery ul li img {
  width: 100%;
  height: auto;
  display: block;
}
#gallery iframe {
  width: 100%;
  height: 220px;
  border: none;
  display: block;
}
.photo {
  display: flex;
}
.photo02 {
  display: flex;
}
.photo03 {
  display: flex;
}
@media screen and (max-width: 767px){
    img {
        max-width: 100%;
    }
    header,
    #global_navi,
    #sidebar,
    #wrapper{
        width: 100%;
    }
    header h1 {
        float: none;
        text-align: center;
    }
    header h1 img {
        width: 50%;
    }
    header #header_contact{
        display: none;
    }
    #global_navi ul li{
    width: 50%;
    padding: 0.5px;
    margin: 0;
    box-sizing: border-box;
    }
    #global_navi ul li a {
        margin: 0;
    }
    #global_navi ul li:last-child{
        width: 100%;
    }
    #main {
        width: 100%;
        padding: 0 5%;
        box-sizing: border-box;
    }
    #main figure {
        text-align: center;
    }
    #main_visual {
        width: 100%;
        height: auto;
    }
    #point figure {
        float: none;
        margin: 0 0 11px 0;
    }
        #side_banner ul li {
        text-align: center;
        margin: 11px auto;
        }
    #side_contact address img {
        width: 14px;
        height: 20px;
    }
    #entry dl dt {
        float: none;
        width: 100%;
        box-sizing: border-box;
    }
    #entry dl dd {
        width: 100%;
        margin-left: 0;
        border-left: none;
        box-sizing: border-box;
    }
    #entry #name, #entry #email, #entry #interest{
        max-width: 100%;
    }
    #entry #detail{
    width: 100%;
    box-sizing: border-box;
    }
}