@charset "utf-8";

body {
  background: repeating-linear-gradient(#1dca9f,#b3ffe9,#1dca9f);
  margin: 0;
  padding: 0 ;
  max-height: 200px; 
}
#navi {
  width: 662px;
  margin-top: 16px;
  margin: 0 auto;
  margin-right: 0px auto;
  position: relative;
  right: 0px;
}
#navi h2 {
  text-align: center;
  letter-spacing: 5px;
  color: #5833eb;
  margin: 16px auto;
  padding-left: 0px;
}
#navi ul {
    list-style: none;
    display: flex;
    margin: auto;
    padding: 0;
}
#navi ul li {
    display: flex;
    margin-right: 0px;
  margin-bottom: 10px;
  text-align: center;
}
#navi ul li a {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#11d0ee), color-stop(100%,#2277f6));
  padding:10px 0 10px 0;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-radius: 0px;
  text-decoration: none;
    width: 130px;
    margin-left: -2px;

}
#navi ul li.current a {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#94e2ee), color-stop(100%,#619df8))
}
#navi ul li a:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bef4fc), color-stop(100%,#88b4f7))
}


#wrapper {
  position: relative;
  max-width: 660px;
  margin: 0 auto;
  padding: 0 auto;
}
#wrapper h1 {
  max-width: 648px;
  width: 100%;
  text-align: center;
  padding-right: 0px ;
  padding-top: 12px ;
  border: 4px dotted #000;
  height: 70px;
  font-size: 35px;
}
#main figure {
  float: left;
  margin: 0 20px 0 0;
}
#wrapper section {
  overflow: hidden;
}
#kyoku figure {
  float: left;
  margin: 0 20px 0 0;
}
#kyoku img {
  margin-top: -20px;
}

footer {
  background-color: #2277f6;
  text-align: center;
}
footer #navf {
  background-color: #11d0ee;
  padding: 10px 0;
}
footer #navf ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer #navf li {
  display: inline;
  margin-left: 10px;
}
.logo {
  margin-bottom: -5px;
  width: 200px;
}
.cola {
  margin: 10px 0 30px 0;
  width: 150px;
}
.ore {
  margin: 10px 0 30px 0;
  width: 80px;
}
.tn {
  margin: 10px 0 30px 0;
}
#name {
  font-size: 35px;
  margin-bottom: -20px;
}
#nam {
  font-size: 14px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}
.tomo {
  width: 656px;
}
iframe {
  width: calc(100% - 4px);
}
@media screen and (max-width : 660px){
  img {
    max-width: 100%;
  }
  #wrapper,
  #navi {
    width: 100%;
  }
  #navi ul li {
    width: 20%;
    margin: 2px 0 12px 0;
    position: relative;
    right: 0px;
  }
  #navi ul li:last-child {
    margin-right: 0px;
  }
  #navi ul li a {
    margin: -2px;
  }
  #wrapper h1 {
    max-width: auto;
    width: calc(100% - 8px);
    padding: 0 auto;
  }
  #main p {
    margin-bottom: 16px;
  }
  iframe {
    width: 100%;
  }
}

